
{% extends 'frontindex/index.html.twig' %}

{% block title %}Hello evenementController!{% endblock %}
   {% block r2 %}
       <div class="overlay"></div>

       <div class="container">
           <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">

               <div class="col-md-10 d-flex align-items-center ftco-animate">
                   <h1>evenements</h1>
               </div>
           </div>
       </div>
   {% endblock %}
{% block body %}    

{% endblock %}
