{% extends 'backindex/index.html.twig' %}

{% block pagetitle %}

Add Question

{% endblock %}

{%  block body %}
<section class="section main-section">
    <div class="card mb-6">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-ballot"></i></span>
                Forms
            </p>
        </header>
        <div class="card-content">
            <div class="container mt-4">
                <h2> Ajouter question </h2>
                {{ form_start(form) }}
                {{ form_rest(form) }}


                {{ form_end(form) }}
            </div>
        </div>

    
    </div>
  </section>
    
       
   

{% endblock %}